<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/static/css/main.css" type="text/css">
	<script type="text/javascript" src="/static/js/mootools.js"></script>
    {% block head %}{% endblock head %}
	<title>{% block title %}YouBama - The Citizen Generated Campaign{% endblock title %}</title>   
</head>
<body>
	<div id="topnav">
		{% block topnav %}{% endblock topnav %}	
	</div>

	<div id="content">
		{% block content %}{% endblock content %}
	</div>
	<div id="footer">
		{% block footer %}
<!--		<font size=-2>&copy;2007 YouBama</font> -->
		{% endblock footer %}
	</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3329136-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>

</body>
</html>
